<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div class="w-full container grid grid-cols-3 text-center m-auto">
        <div class="h-10 w-20">
          <img src="assets/logo.png" class="w-full h-full">
        </div>
        <div class="font-bold">
          <span class="hidden md:block lg:block xl:block 2xl:block">
            Desarrollo institucional
          </span>
        </div>
        <div class="">
          <ion-icon (click)="logout()" name="log-out" style="color: #C1C0C0" class="h-10 w-6 block m-auto mr-0">
          </ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container mx-auto p-2 pb-16">
    <div #containerRubros
      class="flex flex-row overflow-x-auto mb-4 container-scrollbar border-gray-200 border-b cursor-pointer">
      <div *ngFor="let rubro of rubrosDisponibles; index as index" class="px-5 text-gray-300 font-thins pb-2 {{rubro}}"
        [ngClass]="{'activo': index == 0}" (click)="clickRubro(rubroElement, rubro.rubro)" #rubroElement>
        {{rubro.display | removeUnderscore | titlecase }}
      </div>
    </div>

    <ng-container *ngIf="consulta">


      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <ng-container *ngFor="let consulta of consulta">
          <ng-container *ngIf="consulta.consulta == 'comentarios'; else elseComentarios">

            <div class="col-span-full">
              <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
                Comentarios
              </div>


              <ng-container
                *ngIf="rubroSeleccionado != 'seguimiento2' && rubroSeleccionado != 'seguimiento5'; else elseComentariosCategorias">
                <div
                  class="flex flex-row justify-between overflow-x-auto mb-4 container-scrollbar border-gray-200 border-b cursor-pointer">
                  <div class="px-5 text-gray-300 font-thin pb-2 cursor-pointer" *ngFor="let comentario of comentarios"
                    [ngClass]="{'activo': comentario.seleccionado}" (click)="seleccionarComentario(comentario)">
                    {{ comentario.titulo }}
                  </div>
                </div>

                <ng-container *ngFor="let resultado of consulta.resultado; index as i">
                  <div class="antialiased mx-auto max-w-screen-sm" *ngIf="checkComentarioSeleccionado(i)">
                    <div class="space-y-4">

                      <div class="flex" *ngFor="let comentario of resultado">
                        <div class="flex-shrink-0 mr-3">
                          <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
                            src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="">
                        </div>
                        <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                          <strong>{{comentario.Programa}}</strong>
                          <span class="text-xs text-gray-400 ml-1">
                            {{comentario.Campus}}
                          </span>
                          <p class="text-sm">
                            {{comentario.Comentario}}
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #elseComentariosCategorias>
                <div *ngFor="let comentario of consulta.resultado"
                  class="flex rounded-md mb-4 p-4 border pt-3 bg-white shadow-lg">
                  <div class="imagen flex-grow-0">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
                      style="height: 30px; width: 30px" class="rounded-full">
                  </div>
                  <div class="contenido flex-grow ml-3">
                    <div class="font-bold">
                      {{comentario.Programa}} <small class="font-light">{{comentario.Campus}}</small>
                    </div>
                    <div class="mt-2">
                      {{comentario.Comentario}}
                    </div>
                  </div>
                </div>
              </ng-template>

            </div>

          </ng-container>

          <ng-template #elseComentarios>
            <div class="block bg-white rounded-lg overflow-hidden p-4 shadow-lg border">
              <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
                {{consulta.consulta | removeUnderscore | titlecase | acentos }}
              </div>
              <ng-container *ngIf="validarVaciado(consulta); else elseSinData">
                <chart [type]="type" [data]="consulta.data" [options]="options"></chart>
              </ng-container>
              <ng-template #elseSinData>
                <div class="text-center mt-5">
                  Sin información
                </div>
              </ng-template>

            </div>
          </ng-template>
        </ng-container>


      </div>

      <ng-container
        *ngIf="(contestados_avances.contestadas?.length != 0 && contestados_avances.contestadas != null) || (contestados_avances.sin_contestar?.length != 0 && contestados_avances.sin_contestar?.length != null)">

        <h4 class="text-center text-gray-900 font-bold text-xl my-4">
          Contestados
        </h4>
        <ng-container
          *ngIf="(contestados_avances.contestadas?.length != 0 && contestados_avances.contestadas != null) ; else elseSinContestados">
          <div class="w-full overflow-auto text-xs">
            <table class="w-full overflow-x-auto">
              <thead>
                <tr
                  class="font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                  <th class="px-4 py-3">
                    Campus
                  </th>
                  <th class="px-4 py-3">
                    Departamento
                  </th>
                  <th class="px-4 py-3">
                    Nivel
                  </th>
                  <th class="px-4 py-3">
                    Programa
                  </th>
                  <th class="px-4 py-3">
                    Matrícula
                  </th>
                  <th class="px-4 py-3">
                    Correo
                  </th>
                </tr>
              </thead>
              <tr *ngFor="let alumno of contestados_avances.contestadas">
                <td class="px-4 py-3 border">
                  {{alumno.campus}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.departamento}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.nivel}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.desc_programa}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.matricula}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.correo}}
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
        <ng-template #elseSinContestados>
          <div class="text-center mt-5">
            Ningún alumno ha contestado.
          </div>
        </ng-template>

        <h4 class="text-center text-gray-900 font-bold text-xl my-4">
          Sin contestar
        </h4>
        <ng-container
          *ngIf="(contestados_avances.sin_contestar?.length != 0 && contestados_avances.sin_contestar?.length != null); else elseSinSinContestar">
          <div class="w-full overflow-auto text-xs">
            <table class="w-full">
              <thead>
                <tr
                  class="font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                  <th class="px-4 py-3">
                    Campus
                  </th>
                  <th class="px-4 py-3">
                    Departamento
                  </th>
                  <th class="px-4 py-3">
                    Nivel
                  </th>
                  <th class="px-4 py-3">
                    Programa
                  </th>
                  <th class="px-4 py-3">
                    Matrícula
                  </th>
                  <th class="px-4 py-3">
                    Correo
                  </th>
                </tr>
              </thead>
              <tr *ngFor="let alumno of contestados_avances.sin_contestar">
                <td class="px-4 py-3 border">
                  {{alumno.campus}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.departamento}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.nivel}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.desc_programa}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.matricula}}
                </td>
                <td class="px-4 py-3 border">
                  {{alumno.correo}}
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
        <ng-template #elseSinSinContestar>
          <div class="text-center mt-5">
            Todos los alumnos han contestado.
          </div>
        </ng-template>



      </ng-container>
      <!-- <div class="block bg-white rounded-lg overflow-hidden p-4 shadow-lg border">
              <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
                Contestadas
              </div>
              <div *ngFor="let alumno of contestados_avances.contestadas">
                {{alumno.matricula}}
              </div>
            </div>
            <div class="block bg-white rounded-lg overflow-hidden p-4 shadow-lg border">
              <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
                Sin contestar
              </div>
              <div *ngFor="let alumno of contestados_avances.sin_contestar">
                {{alumno.matricula}}
              </div>
            </div> -->

    </ng-container>

  </div>


  <div class="fixed bottom-0 right-0 m-2">
    <div class="relative">
      <div class="bg-blue-500 rounded-lg px-4 py-2 w-52 mb-14 shadow-lg animate__animated animate__fadeIn"
        [ngClass]="{'block': showFilters, 'hidden': !showFilters}">
        <form [formGroup]="form">
          <select formControlName="tipoGraficas">
            <option value="pie">Tarta</option>
            <option value="doughnut">Dona</option>
            <option value="bar">Barras</option>
            <option value="line">Líneas</option>
            <option value="radar">Radar</option>
          </select>
          <select formControlName="periodo">
            <option disabled selected [value]="null">Periodo</option>
            <option *ngFor="let periodo of periodos" [value]="periodo.desc">{{ periodo.desc }}</option>
          </select>
          <select formControlName="campus">
            <option disabled selected [value]="null">Campus</option>
            <!-- <option value="Todos">Todos</option> -->
            <option *ngFor="let campus of campus" [value]="campus.desc">{{ campus.desc }}</option>
          </select>
          <select formControlName="departamento">
            <option disabled selected [value]="null">Departamento</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let departamento of departamentos" [value]="departamento.desc">{{ departamento.desc }}
            </option>
          </select>
          <select formControlName="nivel">
            <option disabled selected [value]="null">Nivel</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let nivel of niveles" [value]="nivel.desc">{{ nivel.desc }}</option>
          </select>
          <select formControlName="programa">
            <option disabled selected [value]="null">Programa</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let programa of programas" [value]="programa.desc">{{ programa.desc }}</option>
          </select>
        </form>
      </div>
      <div (click)="showFilters = !showFilters"
        class="rounded-full bg-blue-500 h-12 w-12 text-white flex justify-center items-center shadow-lg fixed bottom-0 right-0 m-2 hover:bg-blue-700 cursor-pointer z-50">
        <ion-icon [name]="showFilters? 'close' : 'funnel'" class="text-xl"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
