<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div class="w-full flex container m-auto justify-between">
        <div>
          <img src="assets/logo.png" class="h-10">
        </div>
        <div class="font-bold">
          Desarrollo institucional
        </div>
        <div>
          <ion-icon name="log-out" style="color: #C1C0C0" class="h-10 w-6"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container mx-auto p-2 pb-16">

    <div #containerRubros class="flex flex-row overflow-x-auto mb-4 container-scrollbar border-gray-200 border-b cursor-pointer">
      <div *ngFor="let rubro of rubrosDisponibles; index as index" class="px-5 text-gray-300 font-thins pb-2 {{rubro}}"
        [ngClass]="{'activo': index == 0}" (click)="clickRubro(rubroElement, rubro)" #rubroElement>
        {{rubro | removeUnderscore | titlecase }}
      </div>
    </div>

    <div *ngIf="consulta"
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
      <ng-container *ngFor="let consulta of consulta">
        <ng-container *ngIf="consulta.consulta == 'comentarios'; else elseComentarios">

          <div class="col-span-full">
            <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
              Comentarios
            </div>
            <div *ngFor="let comentario of consulta.resultado"
              class="flex rounded-md mb-4 p-4 border pt-3 bg-white shadow-lg">
              <div class="imagen flex-grow-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
                  style="height: 30px; width: 30px" class="rounded-full">
              </div>
              <div class="contenido flex-grow ml-3">
                <div class="font-bold">
                  {{comentario.Programa}} <small class="font-light">{{comentario.Campus}}</small>
                </div>
                <div class="mt-2">
                  {{comentario.Comentario}}
                </div>
              </div>
            </div>
          </div>

        </ng-container>
        <ng-template #elseComentarios>
          <div class="block bg-white rounded-lg overflow-hidden p-4 shadow-lg border">
            <div class="text-center text-lg text-gray-900 title-font mb-4 whitespace-nowrap truncate font-bold">
              {{consulta.consulta | removeUnderscore | titlecase}}
            </div>
            <ng-container *ngIf="validarVaciado(consulta); else elseSinData">
              <chart [type]="type" [data]="consulta.data" [options]="options"></chart>
            </ng-container>
            <ng-template #elseSinData>
              <div class="text-center mt-5">
                Sin información
              </div>
            </ng-template>

          </div>
        </ng-template>
      </ng-container>
    </div>

  </div>


  <div class="fixed bottom-0 right-0 m-2">
    <div class="relative">
      <div class="bg-blue-500 rounded-lg px-4 py-2 w-52 mb-14 shadow-lg animate__animated animate__fadeIn"
        [ngClass]="{'block': showFilters, 'hidden': !showFilters}">
        <form [formGroup]="form">
          <select formControlName="tipoGraficas">
            <option value="pie">Tarta</option>
            <option value="doughnut">Dona</option>
            <option value="bar">Barras</option>
            <option value="line">Líneas</option>
            <option value="radar">Radar</option>
          </select>
          <select formControlName="periodo">
            <option disabled selected [value]="null">Periodo</option>
            <option *ngFor="let periodo of periodos" [value]="periodo.desc">{{ periodo.desc }}</option>
          </select>
          <select formControlName="campus">
            <option disabled selected [value]="null">Campus</option>
            <!-- <option value="Todos">Todos</option> -->
            <option *ngFor="let campus of campus" [value]="campus.desc">{{ campus.desc }}</option>
          </select>
          <select formControlName="departamento">
            <option disabled selected [value]="null">Departamento</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let departamento of departamentos" [value]="departamento.desc">{{ departamento.desc }}
            </option>
          </select>
          <select formControlName="nivel">
            <option disabled selected [value]="null">Nivel</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let nivel of niveles" [value]="nivel.desc">{{ nivel.desc }}</option>
          </select>
          <select formControlName="programa">
            <option disabled selected [value]="null">Programa</option>
            <option value="Todos">Todos</option>
            <option *ngFor="let programa of programas" [value]="programa.desc">{{ programa.desc }}</option>
          </select>
        </form>
      </div>
      <div (click)="showFilters = !showFilters"
        class="rounded-full bg-blue-500 h-12 w-12 text-white flex justify-center items-center shadow-lg fixed bottom-0 right-0 m-2 hover:bg-blue-700 cursor-pointer">
        <ion-icon [name]="showFilters? 'close' : 'funnel'" class="text-xl"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
