.card{
  min-height: 170px;
  color: #716B62;
  @apply shadow-md rounded-lg p-4 grid grid-rows-3 gap-1;
}

.yellow-card{
  background-color: #FEF7EC;
  .number{
    color: #F2CA99;
  }
}

.red-card{
  background-color: #FAEFEE;
  .number{
    color: #F08788;
  }
}

.green-card{
  background-color: #D5F8F0;
  .number{
    color: #8DDFCC;
  }
}

.blue-card{
  background-color: #E1EEF6;
  .number{
  color: #8CACE6;
  }
}

.purple-card{
  background-color: #EDF4FF;
  .number{
    color: #C2D3F6;
  }
}

.orange-card{
  background-color: #FBE8DE;
  .number{
    color: #EE8888;
  }
}
