<p>
  En esta sección encontrará un documento en formato Power Point/PDF, el cual incluye:
</p>
<p>
  1. Calendario de elaboración del Informe Anual de Actividades 2020-2021
</p>
<p>
  Cualquier duda o comentario, le informamos que estaremos brindando asesoría virtual a partir del lunes 19 al viernes
  23
  de julio, con un horario de 09:00 a.m. a 1:00 p.m., se sugiere solicitar una reunión vía correo electrónico o
  Microsoft
  Teams.
</p>

<p>
  DGPDI | Dirección General de Planeación y Desarrollo Institucional | <a href="mailto:planeacion@uacj.mx">planeacion@uacj.mx</a>
</p>

<p>
  SPCOA | Subdirección de Planeación de la Competitividad Académica | <a
    href="mailto:planeacion.estadisti@uacj.mx">planeacion.estadisti@uacj.mx</a>
</p>

<img class="text-center block m-auto" src="https://indicadores.uacj.mx/iaa/public/docs/2020/calendario3.png" alt="">
