<div style="background-image: url(https://indicadores.uacj.mx/te/public/img/fondo.jpg); background-size: cover; background-position: center center; width: 100vw; height: 100vh;">
  <div style="width: 100%; position: absolute; top: 40px; text-align: center;">
    <img src="assets/logoblanco.png" style="height: 60px; margin: auto;" alt="">
    <div style="color: white; padding: 20px;">
      Plataforma de indicadores
    </div>
  </div>
  <button (click)="login()"  style="width: 150px; background-color:#295BB5" class="text-white font-semibold absolute bottom-20 left-0 right-0 m-auto p-4 rounded-full">Iniciar sesión</button>
  <small class="" style="bottom: 0; right: 0; left: 0; margin: auto; text-align: center; position: absolute; display: block; margin-bottom: 20px">
    Dirección General de Planeación y Desarrollo Institucional - {{getAno()}}
  </small>
</div>
