/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media print {
  body,
  html,
  .container {
    height: 100%;
  }
}

.container-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

select{
  @apply block w-full my-5 rounded px-2 py-1 text-sm text-gray-500;
}

.activo{
  @apply text-gray-700 font-bold border-b-2 border-gray-800;
}

.card{
  min-height: 170px;
  color: #716B62;
}

.yellow-card{
  background-color: #FEF7EC;
  .number, ion-icon{
    color: #F2CA99;
  }
}

.red-card{
  background-color: #FAEFEE;
  .number, ion-icon{
    color: #F08788;
  }
}

.green-card{
  background-color: #D5F8F0;
  .number, ion-icon{
    color: #8DDFCC;
  }
}

.blue-card{
  background-color: #E1EEF6;
  .number, ion-icon{
  color: #8CACE6;
  }
}

.purple-card{
  background-color: #EDF4FF;
  .number, ion-icon{
    color: #C2D3F6;
  }
}

.orange-card{
  background-color: #FBE8DE;
  .number, ion-icon{
    color: #EE8888;
  }
}

