<p>
  En esta sección encontrará cuatro documentos en formato PDF, los cuales incluyen:
</p>

<ol class="list-decimal	px-8">
  <li>
    Plan de Desarrollo Institucional 2018-2024
  </li>
  <li>
    Extenso del Informe Anual de Actividades 2019-2020
  </li>
  <li>
    Anuario Estadístico 2020-2021
  </li>
  <li>
    Glosario de términos de la SEP
  </li>
</ol>

<p>
  Cualquier duda o comentario, le informamos que estaremos brindando asesoría virtual a partir del lunes 19 al viernes
  23
  de jolio, con un horario de 09:00 a.m. a 1:00 p.m., se sugiere solicitar una reunión vía correo electrónico o
  Microsoft
  Teams.
</p>

<p>
  DGPDI | Dirección General de Planeación y Desarrollo Institucional | <a
    href="mailto:planeacion@uacj.mx">planeacion@uacj.mx</a>
</p>

<p>
  SPCOA | Subdirección de Planeación de la Competitividad Académica | <a
    href="mailto:planeacion.estadisti@uacj.mx">planeacion.estadisti@uacj.mx</a>
</p>

<div class="grid grid-cols-1 gap-4 mt-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4">
  <a href="http://www3.uacj.mx/DGPDI/Documents/evaluacioninstitucional/Documents/PIDE/PIDE_2018-24_UACJ.pdf">
    <div class="max-w-sm rounded overflow-hidden shadow-lg h-full relative">
      <img class="w-full m-auto" src="https://indicadores.uacj.mx/iaa/public/docs/pide.jpg" alt="Sunset in the mountains">
      <div class="px-6 pb-10 pt-2">
        <div class="font-bold text-lg mb-2">Extenso del Informe Anual de Actividades</div>
      </div>
      <div class="px-6 pt-4 pb-2 flex justify-end absolute bottom-0 right-0">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2018
          -
          2024</span>
      </div>
    </div>
  </a>

  <a href="https://www.uacj.mx/planeacion/documentos/informes/2_Informe_Anual_Actividades_2019-2020.pdf">
    <div class="max-w-sm rounded overflow-hidden shadow-lg h-full relative">
      <img class="w-full m-auto" src="https://indicadores.uacj.mx/iaa/public/docs/2IAA.jpg" alt="Sunset in the mountains">
      <div class="px-6 pb-10 pt-2">
        <div class="font-bold text-lg mb-2">Extenso del Informe Anual de Actividades</div>
      </div>
      <div class="px-6 pt-4 pb-2 flex justify-end absolute bottom-0 right-0">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2019
          -
          2020</span>
      </div>
    </div>
  </a>

  <a href="https://www.uacj.mx/planeacion/documentos/estadistica/Anuario-Estadistico-2020-2021.pdf">
    <div class="max-w-sm rounded overflow-hidden shadow-lg h-full relative">
      <img class="w-full m-auto" src="https://indicadores.uacj.mx/iaa/public/docs/anuario.jpg" alt="Sunset in the mountains">
      <div class="px-6 pb-10 pt-2">
        <div class="font-bold text-lg mb-2">Anuario Estadístico</div>
      </div>
      <div class="px-6 pt-4 pb-2 flex justify-end absolute bottom-0 right-0">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2020
          -
          2021</span>
      </div>
    </div>
  </a>

  <a href="https://indicadores.uacj.mx/iaa/public/docs/2020/Glosario_de_Terminos_de_Educaci%C3%B3n_Superior_SEP.pdf">
    <div class="max-w-sm rounded overflow-hidden shadow-lg h-full relative">
      <img class="w-full m-auto" src="https://indicadores.uacj.mx/iaa/public/docs/glosarioSEP.jpg"
        alt="Sunset in the mountains">
      <div class="px-6 pb-10 pt-2">
        <div class="font-bold text-lg mb-2">Glosario de términos de la SEP</div>
      </div>
      <div class="px-6 pt-4 pb-2 flex justify-end absolute bottom-0 right-0">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2018
          -
          2024</span>
      </div>
    </div>
  </a>

</div>
